<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Курсы валют</title>
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <header>
        <h1 class = "text-center">Курсы валют</h1>
    </header>

    {{{body}}}

    <footer>
        <p class="text-center">
            &copy; 2020 Kharitonov
        </p>
    </footer>
</body>

</html>